<div class="contact">
  <div class="contact__content">
    <div class="contact__text">
      <p>Para dudas, aclaraciones o informes, puede ponerse en contacto con nosotros, por los siguientes medios.
        Responderemos a la brevedad posible.</p>
    </div>
    <div class="form">
      <form #contactForm="ngForm" autocomplete="off" (submit)="sendContactForm(client, contactForm)">
        <legend>Campos obligatorios<span>*</span></legend>
        <div class="input-group">
          <input class="input" type="text" name="name" #name="ngModel" [(ngModel)]="client.name" required>
          <label class="label" for="name">Nombre<span>*</span></label>
          <span *ngIf="name.touched && !name.valid">Campo requerido</span>
        </div>
        <div class="input-group">
          <input class="input" type="text" name="last-name" #lastName="ngModel" [(ngModel)]="client.surname" required>
          <label class="label" for="last-name">Apellidos<span>*</span></label>
          <span *ngIf="last-name.touched && !last-name.valid">Campo requerido</span>
        </div>
        <div class="input-group">
          <input class="input" type="text" name="email" #email="ngModel" [(ngModel)]="client.email" required>
          <label class="label" for="email">Email<span>*</span></label>
          <span *ngIf="validEmailInput">{{validEmailInput}}</span>
        </div>
        <div class="input-group">
          <textarea class="input" name="message" #message="ngModel" [(ngModel)]="client.message" required></textarea>
          <label class="label" for="message">Asunto<span>*</span></label>
          <span *ngIf="message.touched && !message.valid">Campo requerido</span>
        </div>
        <button class="btnContactForm" type="submit" [ngClass]="{disabled: !contactForm.form.valid}"
          [disabled]="!contactForm.form.valid" (click)="disabledButton('disabled')">Enviar</button>
      </form>
    </div>
    <div class="social-media">
      <div class="social-media__item">
        <span class="mdi mdi-facebook-box"></span>
        <a href="https://www.facebook.com/grupoermofe/" target="_blank">Facebook</a>
      </div>
      <div class="social-media__item">
        <span class="mdi mdi-twitter"></span>
        <a href="https://twitter.com/grupoermofe/" target="_blank">Twitter</a>
      </div>
      <div class="social-media__item">
        <span class="mdi mdi-instagram"></span>
        <a href="https://www.instagram.com/grupoermofe/" target="_blank">Instagram</a>
      </div>
      <div class="social-media__item">
        <span class="mdi mdi-email"></span>
        <a href="mailto:info@grupoermofe.com">info@grupoermofe.com</a>
      </div>
      <div class="social-media__item">
        <span class="mdi mdi-phone"></span>
        <a href="tel:9933162907">01 (993) 316 29 07</a>
      </div>
    </div>
  </div>
</div>

<div class="contact__alert" *ngIf="formMessage">
  <p>{{formMessage}}</p>
</div>
