@import "../../../scss/variables";
@import "../../../scss/mixins";

.contact {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 1rem;

  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 916.8px;

    @include media-tablet {
      @include grid(repeat(2, calc(50% - 2rem)));
      @include gcl-gap(4rem);
    }
  }

  &__text {
    display: flex;
    justify-content: center;
  }

  &__text p {
    margin-bottom: 1.5rem;
    max-width: 550px;
    text-align: center !important;
  }

  &__alert {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 600;
    color: $white;
    font-size: 1rem;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 8px;
    background-color: $blue;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

.form {
  width: 100%;
  max-width: 450px;

  @include media-tablet {
    grid-column: 1 / 2;
  }

  legend,
  label {
    color: $gray;
  }

  legend {
    margin-bottom: 0.8rem;
  }

  span {
    color: $red;
  }

  button[type="submit"] {
    color: $white;
    margin: 1rem 0;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 0.6rem 2.2rem;
    background-color: $blue;

    span {
      color: $white;
      margin-left: 0.6rem;
    }
  }

  button.disabled {
    cursor: default;
    background-color: rgba(37, 70, 127, 0.5);
  }
}

.input-group {
  margin-top: 1.8rem;
  position: relative;

  input,
  textarea {
    width: 100%;
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: $lightGray;
    border-bottom: 3px solid $blue;
    padding: 1.2rem 1rem 1rem 1rem;
  }

  label {
    position: absolute;
    top: 18px;
    left: 15px;
    z-index: 1;
    font-size: 1.1rem;
    pointer-events: none;
    transition: all ease 0.4s;
  }

  textarea {
    resize: none;
    height: 170px;
  }

  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -20px;
    font-size: 0.8rem;
  }
}

.social-media {
  margin-top: 0.9rem;

  @include media-tablet {
    margin-top: 2.5rem;
  }

  div {
    margin-top: 20px;
  }

  span {
    color: $blue;
    font-size: 1.8rem;
    margin-right: 0.6rem;
  }

  a {
    color: $black;
    text-decoration: underline;
  }

  p {
    line-height: 2.5rem;
  }

  &__list {
    // margin-top: 10px;
    // padding: 0 10px;
    // @include flex(row);
    // @include f-align(center);
    list-style-type: none;

    li {
      @include flex(row);
      @include f-align(center);
      margin-top: 15px;
    }
  }

  &__item {
    display: inline;
    padding: 0 10px;

    svg {
      width: 35px;
      height: 35px;
    }
  }
}
