<div class="product">
  <div class="product__list">

    <ng-container *ngIf="loading; else noThere">
      <div class="product__empty">
        <p>Cargando...</p>
      </div>
    </ng-container>

    <ng-template #noThere>
      <ng-container *ngIf="!products; else productsExists">
        <div class="product__empty">
          <p>No hay productos existentes...</p>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #productsExists>
      <div class="product__card" *ngFor="let product of products; let i = index">
        <div class="product__title">
          <div class="product__number">
            <p><span *ngIf="i <= 9">0</span>{{i + 1}}</p>
            <div class="line"></div>
          </div>
          <div class="product__more" (click)="cardActived($event)">
            <!-- <span class="mdi mdi-plus"></span> -->
            <svg class="plus" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40" height="40" viewBox="0 0 24 24">
              <path style="fill: #25467f;" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
            </svg>

            <svg class="minus" style="display: none; cursor: pointer;" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40" height="40" viewBox="0 0 24 24">
              <path style="fill: #25467f;" d="M19,13H5V11H19V13Z" />
            </svg>
          </div>
          <h3>{{product.Nombre}}</h3>
        </div>
        <div class="product__image">
          <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide" *ngFor="let image of product.Galeria">
                  <img src="{{cockpitUrl}}{{image.path}}" alt="{{image.meta.title}}">
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <svg class="row-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="24" height="24" viewBox="0 0 24 24">
                  <path style="fill: white;" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
                </svg>
              </button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <svg class="row-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="24" height="24" viewBox="0 0 24 24">
                  <path style="fill: white;" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="product__overlay" [innerHTML]="product.Descripcion"></div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
