<div class="clients">
  <div class="clients__content">
    <div class="clients__image">
      <img src="../../../assets/img/clients/calco.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/coconal.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/gordillo.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/sct.png" alt="">
    </div>

    <div class="clients__image">
      <img src="../../../assets/img/clients/escudero.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/hycsa.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/tecnicos_chiapas.png" alt="">
    </div>
    <div class="clients__image">
      <img src="../../../assets/img/clients/sopyc.png" alt="">
    </div>
  </div>
</div>
