.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.carousel-wrapper {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 1 0 100%;
  position: relative;

  img {
    display: block;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .slide-text {
    position: absolute;
    top: 50%;
    left: 80px;
    color: #fff;
    font-size: 24px;
    max-width: 600px;
    // Separation between letters
    letter-spacing: 2px;
    // Separation between lines
    line-height: 2em !important;
  }
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

.text-bigger {
  font-size: 32px;
}
