.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.carousel-wrapper {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 1 0 100%;
  position: relative;

  img {
    display: block;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    // Parallax effect
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease;
  }

  // Second and third img must have object-position to the right
  &:nth-child(2) img,
  &:nth-child(3) img {
    object-position: right;
  }

  .slide-text {
    position: absolute;
    color: #fff;
    font-size: 24px;
    max-width: 250px;
    letter-spacing: 2px;
    line-height: 2em !important;
    top: 100px;
    left: 50px;
  }
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

.text-bigger {
  font-size: 32px;
}

// Media query for small devices according to bootstrap breakpoints
@media (min-width: 576px) {
  .carousel-slide {
    .slide-text {
      top: 150px;
      left: 50px;
      max-width: 450px;
    }
  }
}

// Media query for medium devices according to bootstrap breakpoints
@media (min-width: 768px) {
  .carousel-slide {
    .slide-text {
      top: 50%;
      left: 80px;
      max-width: 600px;
    }
  }
}
