<div class="about">
  <div class="about__content">
    <div class="about__text">
      <p>En GRUPO ERMOFE tenemos un legado en la industria de la construcción. Somos tres generaciones de ingenieros con
        más de 60 años de experiencia y en cada generación hemos apostado por buscar nuevos enfoques y traer nuevas
        tecnologías, con el fin de brindar los mejores productos y servicios a nuestro país.
      </p>
    </div>

    <div style="margin: 4.5rem 0;">
      <div class="timeline">
        <span *ngFor='let item of timeline; let i = index'>
          <div class="container"
            [ngClass]="{'right': i % 2 === 0, 'left': i % 2 !== 0, 'dot': i === 0, 'chevron': i !== 0}">
            <div class="content">
              <div class="image" *ngIf="item.img">
                <img src="{{item.img}}" alt="image">
              </div>
              <div class="info">
                <div class="title">{{item.title}}</div>
                <div class="text">{{item.text}}</div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>

    <div class="about__text">
      <p>Al pasar de los años, GRUPO ERMOFE ha ido creciendo formando un equipo de trabajo multidisciplinario. Nuestros
        colaboradores administrativos están día a día actualizándose para brindar el mejor servicio en cada una de sus
        áreas, mientras que nuestros ingenieros y arquitectos se capacitan constantemente y cuentan con la experiencia
        necesaria para brindar un servicio integral que va desde la concepción del proyecto, el diseño, la fabricación,
        el suministro y la instalación de todos nuestros productos.</p>
    </div>

    <div class="about__img">
      <img src='../../../assets/img/about/ge-fondo-azul.png' alt='ge fondo azul' />
    </div>
  </div>
</div>
