<div class="about">
    <div class="about__content">
        <div class="about__text">
            <p>En GRUPO ERMOFE tenemos un legado en la industria de la construcción, ya que somos tres generaciones de ingenieros con más de 60 años de experiencia. En cada generación hemos apostado por buscar nuevos enfoques y traer nuevas tecnologías al ramo de la construcción con el fin de brindar los mejores productos y servicios a nuestro país.</p>
        </div>
        <div class="about__text">
            <p>Somos un equipo de trabajo multidisciplinario; nuestros colaboradores administrativos están día a día actualizándose para brindar el mejor servicio en cada una de sus áreas, mientras que nuestros ingenieros y arquitectos se capacitan constantemente y cuentan con la experiencia necesaria para brindar un servicio integral que va desde la concepción del proyecto, el diseño, la fabricación, el suministro y la instalación de todos nuestros productos.</p>
        </div>
    </div>
</div>