<footer class="footer">
  <div class="footer__content">
    <div class="menu">
      <div class="contact__title">
        <h4>Menú</h4>
        <div class="line"></div>
      </div>
      <div class="menu__links">
        <a class="menu__links__item" (click)="currentPage('home')" [routerLink]="['/home']"
          routerLinkActive="links__item--actived">Inicio</a>
        <a class="menu__links__item" (click)="currentPage('projects')" [routerLink]="['/projects']"
          routerLinkActive="links__item--actived">Proyectos</a>
        <a class="menu__links__item" (click)="currentPage('products')" [routerLink]="['/products']"
          routerLinkActive="links__item--actived">Productos</a>
        <a class="menu__links__item" (click)="currentPage('blog')" [routerLink]="['/blog']"
          routerLinkActive="links__item--actived">Blog</a>
        <a class="menu__links__item" (click)="currentPage('about')" [routerLink]="['/about']"
          routerLinkActive="links__item--actived">Nosotros</a>
        <a class="menu__links__item" (click)="currentPage('aluminium')" [routerLink]="['/aluminium']"
          routerLinkActive="links__item--actived">¿Por qué aluminio?</a>
        <a class="menu__links__item" (click)="currentPage('clients')" [routerLink]="['/clients']"
          routerLinkActive="links__item--actived">Clientes</a>
        <a class="menu__links__item" (click)="currentPage('contact')" [routerLink]="['/contact']"
          routerLinkActive="links__item--actived">Contacto</a>
      </div>
    </div>
    <div class="products">
      <div class="contact__title">
        <h4><a [routerLink]="['/projects']">Productos</a></h4>
        <div class="line"></div>
      </div>
      <div class="products__links">
        <p class="products__links__item" *ngFor="let product of products">{{product.name}}</p>
      </div>
    </div>
    <div class="contact">
      <div class="contact__title">
        <h4><a (click)="currentPage('contact')" [routerLink]="['/contact']"
            [ngStyle]="{'text-decoration': 'none'}">Contacto</a></h4>
        <div class="line"></div>
      </div>
      <div class="contact__links">
        <a href="https://www.facebook.com/grupoermofe/" class="contact__links__item" target="_blank">Facebook</a>
        <a href="https://twitter.com/grupoermofe" class="contact__links__item" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/grupoermofe/" class="contact__links__item" target="_blank">Instagram</a>
        <a href="tel:9933162907" class="contact__links__item">01 (993) 316 29 07</a>
        <a class="contact__links__item" href="mailto:info@grupoermofe.com">info@grupoermofe.com</a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <small>Copyright &copy; {{year}} - Desarrollado por <a href="https://nodeaxan.com/"
        target="_blank">NodeAxan</a></small>
  </div>
</footer>
