<div class="pros">
  <div class="text">
    <p>Olvidate del acero, lo mejor es el <span>aluminio</span></p>
  </div>
  <div class="pros__content">
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/anticorrosivo.jpeg" alt="Anticorrosivo">
      </div>
      <div class="pros__subtitle">
        <h3>Anticorrosivo</h3>
      </div>
      <div class="pros__info">
        <p>El aluminio produce naturalmente una capa protectora, la cual recubre su exterior. Esta capa es altamente
          resistente a la corrosión, lo cual minimiza costos de mantenimiento, como también ayuda a preservar su
          apariencia estética, libre de oxidación y a la vez manteniéndose templado al tacto durante todo el año.</p>
      </div>
    </div>
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/easy_instalation.jpg" alt="Fácil Instalación">
      </div>
      <div class="pros__subtitle">
        <h3>Fácil Instalación</h3>
      </div>
      <div class="pros__info">
        <p>Debido a que un puente de aluminio pesa mucho menos que un puente de acero, los costos de transporte y
          emisiones de carbón se ven minimizados. Adicionalmente, equipos más pequeños, menos pilares y menos trabajo
          son necesarios para instalar nuestros puentes. El tiempo de instalación es a menudo una fracción en
          comparación a las estructuras hechas de otros materiales.</p>
      </div>
    </div>
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/manteinment.jpg" alt="mantenimiento">
      </div>
      <div class="pros__subtitle">
        <h3>Minímo mantenimiento</h3>
      </div>
      <div class="pros__info">
        <p>Debido a las propiedades protectoras naturales del aluminio y a su resistencia a la corrosión, los costos de
          mantenimiento para una larga vida de los puentes GatorBridge se ven reducidos y en muchos casos, eliminados.
        </p>
      </div>
    </div>
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/ecologist.jpg" alt="Reciclabes y Ecológicos">
      </div>
      <div class="pros__subtitle">
        <h3>Reciclabes y Ecológicos</h3>
      </div>
      <div class="pros__info">
        <p>El 80% de los materiales utilizados para la fabricación del puente son reciclados y el 100% del producto
          terminado es reciclable.</p>
        <p>Adicionalmente, el aluminio no requiere revestimientos de materiales tóxicos para prevenir la corrosión y
          formación de escamas. Si su proyecto busca maximizar conciencia ecológica y al medio ambiente, GatorBridge
          México tiene la solución.</p>
      </div>
    </div>
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/resistance.jpg" alt="Resistencia">
      </div>
      <div class="pros__subtitle">
        <h3>Mayor Resistencia</h3>
      </div>
      <div class="pros__info">
        <p>Al evaluar el material competitivo del puente, los costos de transportación, instalación, mantenimiento y de
          valor reciclable, un puente de aluminio GatorBridge tiene un costo significativamente menor que un puente de
          acero.</p>
      </div>
    </div>
    <div class="pros__option">
      <div class="pros__image">
        <img src="../../../assets/img/aluminium/disponibility.jpg" alt="Alta Disponibilidad">
      </div>
      <div class="pros__subtitle">
        <h3>Alta Disponibilidad</h3>
      </div>
      <div class="pros__info">
        <p>Debido a que fabricamos nuestros puentes en aluminio, resolvemos uno de los problemas más comunes en la
          planeación de un proyecto de puente, tal como exposición a aguas salinas y acceso restrictivo a áreas
          aisladas.</p>
      </div>
    </div>
  </div>
</div>

<div class="other-text">
  <div class="other-text__content">
    <div class="other-text__image img-1">
      <img src="../../../assets/img/aluminium/other_1.jpg" alt="Other">
    </div>
    <div class="other-text__image img-2">
      <img src="../../../assets/img/aluminium/other_2.jpg" alt="Other">
    </div>

    <div class="other-text__info">
      <p>El aluminio es aproximadamente un tercio del peso del acero, sin embargo, tiene una mayor capacidad de carga
        que el acero cuando se compara kilo por kilo. Esto resulta en un puente de mayor rendimiento con menores costos
        de transporte e instalación.</p>
    </div>
  </div>
</div>
