@import '../../../scss/variables';
@import '../../../scss/mixins';

.select,
.projects {
  width: 100%;
  padding: 2rem 1rem 0 1rem;

  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1350px;
  }
}

.select {
  margin-top: 4rem;

  &__links {
    margin-top: .6rem;
  }

  &__link {
    color: $black;
    margin-top: .8rem;
    margin-right: 1rem;
    padding: .6rem 1rem;
    border-radius: 100px;
    display: inline-block;
    border: 1px solid $blue;
    background-color: $white;
    transition: all ease .3s;

    &:hover,
    &--actived {
      color: $white;
      background-color: $blue;
    }
  }
}

.projects {
  padding: 2rem 1rem 0 1rem;

  @include media-tablet {
    padding: 2rem;
  }
}

.cards {
  @media all and (min-width: 600px) {
    @include grid(repeat(2, calc(50% - 1rem)));
    grid-gap: 0px 2rem;
  }

  @media all and (min-width: 930px) {
    @include grid-columns(repeat(3, calc(33.33% - 1rem)));
  }
}
