<div class="article">
  <div class="article__content">
    <div class="article__back">
      <button (click)="returnBlogHome()">Volver</button>
    </div>
    <ng-container *ngIf="!article; else articlesExists">
      <div class="articles__empty">
        <p>No fue posible obtener los datos del artículo seleccionado...</p>
      </div>
    </ng-container>
    <ng-template #articlesExists>
      <div class="article__item">
        <div class="article__title">
          <h2>{{ article.titulo }}</h2>
        </div>
        <div
          class="article__info"
          [innerHtml]="article.contenido"
        ></div>
      </div>
    </ng-template>
  </div>
</div>
