<app-navigation (changePage)="className($event)"></app-navigation>

<div class="general" #general (click)="removeStylesForNav()">
  <header class="header">
    <div class="hero" #hero>
      <div class="company">
        <div class="company__name">
          <img src="../assets/img/logo-horizontal-white.svg" alt="Grupo ERMOFE Logo">
          <h1>{{title}}</h1>
        </div>
        <div class="company__slogan">
          <p>Tecnología en Aluminio</p>
        </div>
        <div class="social">
          <div class="social__item">
            <a href="https://www.facebook.com/grupoermofe/" target="_blank" class="social__item--facebook">
              <span class="icon mdi mdi-facebook-box"></span>
            </a>
          </div>
          <div class="social__item">
            <a href="https://twitter.com/grupoermofe" target="_blank" class="social__item--twitter">
              <span class="mdi mdi-twitter"></span>
            </a>
          </div>
          <div class="social__item">
            <a href="https://www.instagram.com/grupoermofe/" target="_blank" class="social__item--instagram">
              <span class="mdi mdi-instagram"></span>
            </a>
          </div>
          <div class="social__item">
            <a href="mailto:info@grupoermofe.com" class="social__item--mail"><span
                class="icon mdi mdi-email"></span></a>
          </div>
        </div>
      </div>
      <div class="scroll">
        <div class="scroll__content">
          <div class="scroll__text">
            <p>Scroll</p>
            <div>
              <span class="mdi mdi-chevron-down"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <div class="fb-customerchat" page_id="453269414882704" theme_color="#0084ff"
    logged_in_greeting="¡Hola! ¿En qué te podemos ayudar?" logged_out_greeting="¡Hola! ¿En qué te podemos ayudar?">
  </div>

  <app-footer (changePage)="className($event)"></app-footer>

</div>
