<app-navigation (changePage)="className($event)"></app-navigation>

<div class="general" #general (click)="removeStylesForNav()">
  <header class="header">
    <div class="hero" #hero>
      <div class="company">
        <div class="company__name">
          <h1>{{title}}</h1>
        </div>
        <div class="company__slogan">
          <p>Tecnología en Aluminio</p>
        </div>
        <div class="social">
          <div class="social__facebook">
            <a href=""><span class="icon mdi mdi-facebook-box"></span></a>
          </div>
          <div class="social__email">
            <a href="mailto:info@grupoermofe.com"><span class="icon mdi mdi-email"></span></a>
          </div>
        </div>
      </div>
      <div class="scroll">
        <div class="scroll__content">
          <div class="scroll__text">
            <p>Scroll</p>
            <div>
              <span class="mdi mdi-chevron-down"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer (changePage)="className($event)"></app-footer>
