@import "../../../scss/variables";
@import "../../../scss/mixins";

.found {
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 3rem;
  max-width: 1200px;

  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @include media-tablet {
    grid-template-columns: repeat(2, calc(50% - 1rem));
  }
}

.projects,
.products {
  h2 {
    text-align: center;
  }

  &__empty {
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: underline;
  }
}

.cards {
  width: 100%;

  & > div {
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 2rem;
    }
  }
}
