// ===========================
// * Colors
// ===========================
$white: #fff;
$black: #000;
$blue: #25467f;
$red: #eb5757;
$gray: #828282;
$lightGray: #e0e0e0;

// ===========================
// * Devices Sizes
// ===========================
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1280px;
