@import '../../../scss/variables';
@import '../../../scss/mixins';

.articles {
  width: 100%;
  margin-top: 4rem;

  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1500px;
  }
}

.newCards {
  @include grid(repeat(1, 1fr));
  gap: 2rem;

  @media all and (min-width: 700px) {
    @include grid-columns(repeat(2, calc(50% - 1rem)));
  }

  @media all and (min-width: 1300px) {
    @include grid-columns(repeat(3, calc(33.33% - 1rem)));
  }
}
