<div class="articles" *ngIf="!url">
  <div class="articles__content">
    <ng-container *ngIf="loading; else noThere">
      <div class="articles__empty">
        <p>Cargando...</p>
      </div>
    </ng-container>
    <ng-template #noThere>
      <ng-container *ngIf="!articles; else articlesExists">
        <div class="articles__empty">
          <p>No hay proyectos existentes...</p>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #articlesExists>
      <div class="newCards">
        <div class="newCard" *ngFor="let article of articles">
          <div class="newCard__content">
            <div class="newCard__title">
              <p>{{article.attributes.title}}</p>
            </div>
            <div class="newCard__info" [innerHtml]="article.attributes.body.processed | textTransformPipe"></div>
            <div class="newCard__more">
              <button (click)="selectUrl(article.links.self.href)">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<app-article *ngIf="url" [url]="url" (noUrl)="selectUrl($event)"></app-article>
